html,body{margin:0;padding:0}
body{font:100% timesnewroman, sans-serif;text-align:left;
background: darkgray; color: white; margin: 18px}
h2{front-size: 200% ; color: white; 2px solid black}
h3{font: 300% arial bold; text-align: center; color: black; 3px solid black; margin: 3px}
